<html>
<head>
<title>Protected Resource</title>
<script>
    function displayToken() {
        document.getElementById("token").innerHTML = location.search.substring(1);
    }
</script>
</head>
<body onload='displayToken();'>
	<h1>This is a oAuth 2.0 protected user resource.</h1>
        <p>An oAuth 2.0 access token is required to see this page.</p>
        <div id='token'/>
	<a href='../index.html'>Home</a>
</body>
</html>
